/**
 * @file
 * CSS for advanced_commerce_cart_ajax.
 *
 * See @link ../theme/advanced_commerce_cart_add_message @endlink  and 
 * @link ../theme/advanced_commerce_cart_wrapper @endlink for
 * details on what this file does.
 */
.commerce_advanced_ajax_cart_block {
  margin: 0;
}

.commerce_advanced_ajax_cart_block.floating_cart {
  margin: 0;
}

#commerce_advanced_ajax_cart_wrapper {
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
}

#commerce_advanced_ajax_cart_wrapper  #caac_bg {
  background: url("../images/advanced_commerce_cart_ajax_bg.png") repeat scroll 50% 50% #666666;
  opacity: 0.5;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

#commerce_advanced_ajax_cart_content {
  z-index: 1001;
  width: 300px;
  min-height: 100px;
  position: absolute;
  top: 300px;
  left: 50%;
  background-color: #eeeeee;
  border-radius: 8px;
  margin-left: -150px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
}

#commerce_advanced_ajax_cart_content_button {
  display: block;
  padding-top: 5px;
  text-align: right;
}

#commerce_advanced_ajax_cart_content hr {
  border: 0;
  margin: 0;
  padding: 0;
  height: 1px;
  background: #ddd;
}

#commerce_advanced_ajax_cart_content_text {
  display: block;
  min-height: 80px;
  padding-bottom: 5px;
}
